---
import { getCollection } from 'astro:content'
import Default from '../../layouts/default.astro'

const posts = await getCollection('blog')
---

<Default title="Blog">
    <div class="grid place-items-center gap-4">
        {
            posts.map((post) => (
                <a
                    class="bg-slate-200 dark:bg-gray-900 shadow-lg p-8 w-96 min-h-[12rem] flex flex-col group cursor-pointer rounded-lg"
                    href={`/blog/${post.slug}`}
                >
                    <span class="font-bold group-hover:underline">
                        {post.data.title}
                    </span>
                    <span class="text-slate-500 group-hover:underline">
                        {post.data.description}
                    </span>

                    {() => {
                        if (post.data.image) {
                            return (
                                <img
                                    src={post.data.image}
                                    class="w-[90%] self-center rounded-lg m-4"
                                />
                            )
                        }
                    }}
                    <span class="text-slate-500 group-hover:underline place-self-end mt-auto">
                        {post.data.author}
                    </span>
                </a>
            ))
        }
    </div>
</Default>
